/* DarkMode.css */

.dark-mode-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 1000;
  }

  .wordbank-container .dark-mode-toggle {
    right: 0px;
  }
  
  
  .toggle-icon {
    font-size: 24px; 
    color: var(--quinary-color);
    transition: color 0.3s ease-in-out;
  }
  
  .dark-mode-toggle.dark-mode .toggle-icon {
    color: var(--primary-color);
  }
  
  /* Optional: Add a hover effect */
  .dark-mode-toggle:hover .toggle-icon {
    color: var(--quaternary-color);
  }
  

  @media screen and (max-width: 768px){
    .dark-mode-toggle {
      top: 2px;
      right: 2px;
    }

    .wordbank-container .dark-mode-toggle {
      right: 0px;
      top:10px
    }
  }