/* HomePage Styles */
.home-page {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.custom-title {
  font-family: "Rokkitt", serif;
  color: var(--primary-color);
  font-size: 8vw;
  letter-spacing: 0.1rem;
  margin-bottom: -0.25em;
  font-weight: 900;
}

.custom-title span {
  font-family: "Rokkitt", serif;
  /* color: #f8f8f8; */
  display: inline-flex;
  animation: rotate 12s infinite, shadow-drop 6s infinite;
  animation-timing-function: ease-in-out;
  /* text-shadow: 10px 10px 5px var(--quinary-color); */
}
@keyframes rotate {
  0%,
  50% {
      transform: rotateY(720deg);
      /* text-shadow: 7px 7px 5px var(--quinary-color); */

  }

 
}
.custom-title span:nth-of-type(1) {
  animation-delay: 0.2s;
}
.custom-title span:nth-of-type(2) {
  animation-delay: 0.4s;
}
.custom-title span:nth-of-type(3) {
  animation-delay: 0.6s;
}
.custom-title span:nth-of-type(4) {
  animation-delay: 0.8s;
}
.custom-title span:nth-of-type(5) {
  animation-delay: 1s;
}
.custom-title span:nth-of-type(6) {
  animation-delay: 1.2s;
}
.custom-title span:nth-of-type(7) {
  animation-delay: 1.4s;
}
.custom-title span:nth-of-type(8) {
  animation-delay: 1.6s;
}

@keyframes shadow-drop {
  0% {
    text-shadow: 0 0 0 var(--quinary-color);
  }
  50% {
    text-shadow: 10px 10px 5px var(--quinary-color);
  }
  100% {
    text-shadow: 0 0 0 var(--quinary-color);
}
}



.subtitle {
  text-align: left;
  color: var(--primary-color);
  width: fit-content;
  padding-left: 7%;
  font-size: 1.5em;
}




@media screen and (max-width: 768px) {
  .home-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .custom-title {
    font-size: 18vw;
  }
}
