@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

#hint-area {
  height: 300px;
  width: 90%;
  margin: 5px auto 0 auto;
  font-style: italic;
  font-size: 1.5rem;
  overflow-y: scroll;
  color: var(--primary-color);
}

#hint-area h3::after{
  content: "|";
  animation: flash .75s infinite;
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#play-game {
  width: 95%;
  height: 100%;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  animation: fadeIn 1s;
}

#game-button-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  width: 100%;
  margin: 0;
}

#letter-bank {
  font-size: 30px;
  width: 50%;
  height: 38px;
  margin: 0 auto;
  letter-spacing: 0.25em;
  background-color: var(--quaternary-color);
  color: var(--senary-color);
  font-family: "Indie Flower";
  border-radius: 12px;
  text-align: center;
  position: relative;
}

#letter-bank::before {
  content: "These letters are in the target word";
  position: absolute;
  font-size: 80%;
  top: 0%;
  left: 0;
  width: 100%;
  letter-spacing: 0;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--denary-color); 
  opacity: 0.1; 
  transition: opacity 0.3s; 
}

#letter-bank:hover::before {
  opacity: 0.9; /* Opacity on hover */
  background-color: var(--quaternary-color);
  border-radius: 12px;
}

.game-button {
  margin: 10px;
}

#user-input-area {
  margin-bottom: 0.5rem;
  width: 95%;
}

#message-area {
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 0.5rem;
  height: 2rem;
  font-family: "Rokkitt", serif;
}

@keyframes celebration {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    text-shadow: 0 0px 50px var(--tertiary-color);
  }
  100% {
    transform: scale(1);
  }
}

.correct {
  color: var(--octonary-color);
  animation: celebration 1s infinite;
}

.incorrect {
  animation: sad 1s infinite;
}

@keyframes sad {
  0% {
    transform: translateY(0);
    color: #555;
  }
  50% {
    transform: translateY(-5px);
    color: var(--nonary-color);
  }
  100% {
    transform: translateY(0);
    color: #555;
  }
}

@media screen and (max-width: 1000px) {
  #play-game {
    width: 100%;
    margin: 0 auto;
  }
  #hint-area {
    font-size: large;
  }
}

@media screen and (max-width: 768px) {
  #letter-bank {
    width: 100%;
  }

  #message-area {
    font-size: 1.5rem;
  }
  #letter-bank::before {
    font-size: 60%;
  }
}

@media screen and (max-width: 500px) {
  #game-button-area .standard-button {
    width: 7.8em;
    /* padding: 0; */
  }
}
