#hint-area {
    height: 400px;
    font-style: italic;
    font-size: 1.5rem;
    margin: 3% 1%;
  }
  

#play-game {
    width: 90%;
  }
  
  #user-input-area {
    margin-bottom: 1rem;
    width: 90%;
  }
  
  .alert {
    text-align: center;
    font-size: 3rem;
    /* font-weight: bolder; */
    margin: 0;
  }
  
  .correct {
    color: green;
  }
  
  .incorrect {
    color: red;
  }

