@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


#hint-area {
    height: 300px;
    width: 90%;
    margin: 5px auto 0 auto;
    font-style: italic;
    font-size: 1.5rem;
    overflow-y: scroll;
    color: var(--primary-color)
  }

  
  

#play-game {
    width: 95%;
    height:100%;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    animation: fadeIn 1s;
 }



  #game-button-area{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    width: 100%;
    margin: 0;
  }

  #letter-bank{
  font-size: 30px;
  width: 50%;
  height: 38px;
  margin: 0 auto;
   letter-spacing: .25em;
  background-color: var(--quaternary-color);
  color: var(--senary-color);
  font-family: 'Indie Flower';
  border-radius: 12px;
  text-align: center;
  }

  .game-button{
    margin: 10px;
  }
  
  #user-input-area {
        margin-bottom: .5rem;
    width: 90%;

  }
  
  #message-area {
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: .5rem;
    height:2rem;
    font-family: "Rokkitt", serif;
  }


  @keyframes celebration {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  .correct {
    color: green;
    animation : celebration 1s infinite;

  }
  
  .incorrect {
    color: var(--secondary-color);
    animation : sad 1s infinite;
  }

  @keyframes sad {
    0% { transform: translateY(0); color: var(--secondary-color); }
    50% { transform: translateY(-1px); color: #555; }
    100% { transform: translateY(0); color: var(--secondary-color); }
  }

  @media screen and (max-width: 1000px) {
    #play-game {
      width: 100%;
      margin: 0 auto;
        }
        #hint-area {
         font-size: large;
        }
  }

  @media screen and (max-width: 768px) {
    #game-button-area{
justify-content: space-around;
    }
    #letter-bank{
      width: 100%;
    }

    #message-area {
      font-size: 1.5rem;
    }

  }
  