/* Universal styles */
:root {
  --primary-color: #042e8e; /*dark blue */ 
  --secondary-color: #E71d36; /*red */
  --tertiary-color: #FBFEF9; /*near-white */
  --quaternary-color: #d7d7d7; /*light grey */
  --quinary-color: #a1a1a1; /*dark grey */
  --senary-color: #919191;
  /* --septenary-color: #f4f4f4; */
  /* --octonary-color: #f4f4f4; */
  /* --nonary-color: #f4f4f4; */
  /* --denary-color: #f4f4f4; */
}

@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  align-items: center;
  justify-content: center;
}

::selection {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
}

h1,
h2,
h3,
h4 {
  font-family: "Rokkitt", serif;
  color: var(--primary-color);
}

.main-container {
  border: 15px solid var(--primary-color);
  margin: 50px;
  min-height: 90vh;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: rounder 60s ease-in-out infinite;
}

@keyframes rounder {
  0% {
    border-radius: 0 0 0 50px;
  }
  25% {
    border-radius: 50px 0 0 0px;
  }
  50% {
    border-radius: 0px 50px 0 0px;
  }
  75% {
    border-radius: 0px 0 50px 0px;
  }
  100% {
    border-radius: 0px 0 0px 50px;
  }
}

h5 {
  font-family: "Open Sans", serif;
  font-style: italic;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.standard-button {
  letter-spacing: 0.1rem;
  text-align: center;
  color: var(--tertiary-color);
  width: 9em;
  margin: 10px;
  padding: 5px 0px;
  border-radius: 10px;
  background-color: var(--secondary-color);
  border: 4px solid var(--secondary-color);
}

.standard-button:hover {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  border: 4px solid var(--primary-color);
  cursor: pointer;
}

.standard-button-disabled {
  letter-spacing: 0.1rem;
  text-align: center;
  color: var(--secondary-color);
  margin: 20px 10px;
  padding: 5px 30px;
  border-radius: 10px;
  background-color: var(--tertiary-color);
  border: 4px solid var(--secondary-color);
}

/* custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--quaternary-color);
}

/* End of universal styles */

/* Media Query */
@media screen and (max-width: 768px) {
  .main-container {
    border: 6px solid var(--primary-color);
    margin: 40px auto;
    height: 99vh;
    width: 98vw;
    padding: 0px;
  }
  .standard-button {
    margin: 10px;
  }
}

@media screen and (max-width: 450px) {
  .standard-button {
    width: 8em;
    margin: 5px;
    padding: 1px 0px;
    letter-spacing: 0.05rem;
  }
}
