/* Universal styles */

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    padding: 0;
    margin: 0;
    color: #031C3D;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    justify-content: center;
}


h1,
h2,
h3,
h4 {
    font-family: 'Rokkitt', serif;
}

.main-container {
    border: 15px solid #031C3D;
    margin: 50px;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between    ;
    animation: rounder 60s ease-in-out infinite;
}

@keyframes rounder {
    0% {
        border-radius: 0 0 0 80px;
    }
    25% {
        border-radius: 80px 0 0 0px;
    }
    50% {
        border-radius: 0px 80px 0 0px;
    }
    75% {
        border-radius: 0px 0 80px 0px;
    }
    100% {
        border-radius: 0px 0 0px 80px;
    }
}

.subtitle {
    text-align: left;
    width: fit-content;
    padding-left: 30%;
}

h5 {
    font-family: 'Open Sans', serif;
    font-style: italic;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

#hint-area {
    height: 400px;
    font-style: italic;
    font-size: 1.5rem;
    margin: 3% 1%;
}

.standard-button {
    letter-spacing: .1rem;
    text-align: center;
    color: white;
    margin: 0px 10px;
    padding: 5px 30px;
    border-radius: 10px;
    background-color: #FF1616;
    border: 4px solid #FF1616;
}
.standard-button:hover {
    background-color: white;
    color: #031C3D;
    border: 4px solid #031C3D;
    cursor: pointer;
}

.standard-button-disabled{
    letter-spacing: .1rem;
    text-align: center;
    color: #FF1616;
    margin: 20px 10px;
    padding: 5px 30px;
    border-radius: 10px;
    background-color: white;
    border: 4px solid #FF1616;
}

#play-game{
    width: 90%;
}

#user-input-area{
    margin-bottom: 1rem;
    width: 90%;
}

.correct{
    color: green;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
}
